body {
    font-family: 'Arimo', sans-serif;
    background-color: #fff;
}

html {
    font-size: calc(1em + 0.5vw);         /* Notat fra tidligere forelesning */
    width: 100%;
}

                                        /* brukte Chat gpt for å få hjelp til å sette opp video (.mp4 - .overlay-text koden) */
#grid-container {
    grid-template-areas: "header header header"
                         "main main main"
                         "section-1 section-1 section-1"
                         "section-2 section-2 section-2"
                         "section-3 section-3 section-3"
                         "section-4 section-4 section-4"
                         "footer footer footer";
}    

header ul {
    /* display: grid; */
}

.mp4 {                                  
    width: 100%; 
    height: 45%;
}

.tablet-pic-1 {
    display: none;
}

.video-container {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    max-height: 350px;
}

.overlay-text {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    width: 70%;
}

header nav {
    /* width: 100%;s */
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px; 
}

header nav ul {
    list-style: none;
    /* margin: 50px; */
}

header nav ul li {
    display: inline-block;
    margin-left: 40px;
}

header nav ul li a {
    text-decoration-color: #e6bd43;
    color: initial;
}

.logo {
    width: 110px;
}

.button {
    background-color: #e6bd43;
    font-weight: bolder;
    padding: 0.5rem;
    font-size: large;
    text-decoration: none;
    color: black;
}

.default-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 4%;
    text-align: center;
}

.about-our-company {
    display: flex;
    background-color: #e6bd43;
}


@media only screen and (max-width: 600px) {

    #grid-container {
        grid-template-areas: "header"
                             "main"
                             "section-1"
                             "section-2"
                             "section-3"
                             "section-4"
                             "footer";
            
    }

    html {
        font-size: calc(1em + 2vw);         /* Notat fra tidligere forelesning */
    }

    body {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        margin-left: auto
    }

    header {
        grid-area: header;
        margin-bottom: -140%;

    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin-top: 20px;
    }
    
    nav ul li {
        margin-right: 20px;
    }
    
    main {
        grid-area: main;
        padding-top: 50%;
    }
    
    .default-flex {
        display: flex;
        grid-area: section-1;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 4%;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 4%;
        text-align: center;
    }

    #subscribe {
        grid-area: section-4;
    }
    
    .logo {
        display: flex;
        flex-direction: column;
        width: 150px;
    }

    header nav ul {
        padding-right: -3px;
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    header nav ul li a {
        text-decoration-color: #e6bd43;
        color: initial;
    }

    .mp4 {                                  
        width: 100%; 
        height: 45%;
        display: none;
    }
    
    .video-container {
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        max-height: 350px;
        display: none;
    }
    
    .overlay-text {             /* fikk hjelp av chatgpt til å sette tekst på bilde */
        display: contents;
        z-index: 50;
    }

    .tablet-pic-1 {             /* fikk hjelp av w3schools til å sette bildet transparent */
        width: 200%;
        height: 518px;
        display: initial;
        position: relative;
        top: -421px;
        z-index: -1;
        opacity: 0.5;
    }

    .about-our-company {
        padding-bottom: 25%;
    }

    .about-our-company-pic {
        height: 358px;
        width: 350px;
        padding-top: 25%;
        padding-bottom: 10%;
    }

    .about-our-company-h3 {
        text-align: left;
    }

    #our-services-section {
        display: flex;
        grid-area: section-3;
        flex-wrap: wrap;
        justify-content: center;
    }

    #our-services-section ul {
        list-style: none;
    }

    #our-services-section ul li {
        padding-bottom: 10%;
    }

    .li-heading {
        font-weight: 700;
    }

    .fa-solid.fa-people-group {     /* chatgpt kode som hjalp med riktig klasse skrivning i css-en */
        font-size: xxx-large;
        padding-bottom: 5%;
    }

    .fa-solid.fa-cloud-arrow-up {
        font-size: xxx-large;
        padding-bottom: 5%;
    }

    .fa-solid.fa-code {
        font-size: xxx-large;
        padding-bottom: 5%;
    }

    .fa-solid.fa-wifi {
        font-size: xxx-large;
        padding-bottom: 5%;
    }

    .read-more-about-us-btn {
        background-color: #e6bd43;
        font-weight: bolder;
        padding: 0.5rem;
        font-size: large;
        text-decoration: none;
        color: black;
        border-style: solid;            /* chatgpt kode som hjalp med kantene */
        border-color: black;
        margin-bottom: 30%;
    }

    .button {
        background-color: #e6bd43;
        font-weight: bolder;
        padding: 0.5rem;
        font-size: large;
        text-decoration: none;
        color: black;
    }

    #subscribe {
        background-color: #d7d7d7;
    }
    

    footer {
        grid-area: footer;
    }
}